[Unit]
Description=CCTV Inteligente (admin root)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/CCTV_Inteligente
ExecStart=/opt/CCTV_Inteligente/venv/bin/python /opt/CCTV_Inteligente/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target