[Unit]
Description=CCTV Inteligente (admin - root)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/CCTV_Inteligente
Environment="PATH=/opt/CCTV_Inteligente/venv/bin"
ExecStart=/opt/CCTV_Inteligente/venv/bin/python /opt/CCTV_Inteligente/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target